Требование  - описание того, какие функции и с соблюдением каких условий должно выполнять По в процессе решения полезной для юзера задачи

Требования | Уровни и типы:

1) Бизнес требования  (для чего создается продукт, какая будет польза/прибыль | результатом является документ vision and scope в виде текста, таблиц)
2) Требования пользователей (что юзер может выполнять с помощью продукта/use case, user stories, user scenarios)
3) Функциональные (описывают поведение системы - что должна делать, что не должна делать)
4) Нефункциональные (свойства системы/описание атрибутов качества)

Источники требований:

1) Интервью (с заказчиком)
2) Фокус группы (целевая аудитория)
3) Анкетирование  (опрос большой группы людей)
4) Мозговой штурм (семинары/сама команда генерирует идеи)
5) Наблюдение (наблюдение за процессами/конкурентов)
6) Прототипирование (создание прототипа/~дизайн страниц сайта сделать в виде картинок)
7) Анализ документов  (регламентирующих бизнес процессы в предметной области)
8) Моделирование  (моделируются процессы и взаимодействия)
9) Описание (самостоятельное описание для дальнейшего обсуждения)

Свойства качественных требований:

1) Завершенность  (~ экспорт файлов осуществляется в формате JPEG, PNG)
2) Атомарность  (одно требование на одно действие)
3) Непротиворечивость (должна быть в одном требовании и между ними/~ разные термины)
4) Недвусмысленность  (~ большой файл)
5) Выполнимость (требование должно быть технически реализовано)
6) Обязательность (требование должно быть обязательно к исполнению)
7) Прослеживаемость (вертикальная/горизонтальная)
8) Модифицируемость (простота внесения изменений в требование и их набор)
9) Проранжированность (важность/стабильность/срочность)
10) Корректность и проверяемость  (~ не юзер должен, а программа должна)

Техники тестирования требований:

1) Взаимный осмотр/рецензирование (беглый просмотр, технический просмотр, формальная инспекция)
2) Вопросы  (повторно у заказчика)
3) Тест-кейсы и чек-листы (на основе “проверяемости”)
4) Исследование поведения системы (проверка набора требований/на основе первых трех техник)
5) Рисунки  (схемы, диаграммы, Mind Map)
6) Прототипирование (наброски GUI на основе предыдущих техник)
